@charset "utf-8";

body {
	font-family: 'Raleway';
	overflow: hidden;
}

h2 {
	color: #00ffab;
	font-size: 70px;
	float: left;
	margin-left: 7%;
	line-height: 120%;
	width: 55%;
	font-weight: 100;
	letter-spacing: 8.60px;
}

form.remplir {
	float: right;
	margin-right: 8%;
	width: 13%;
	margin-top: 5%;
	text-align: center;
}

input.saisir {
	text-align: center;
	margin-bottom: 9%;
	border: 0px;
	border-bottom: 2px solid #00ffab;
	padding-bottom: 5px;
	font-family: 'Raleway';
	font-weight: 100;
	font-size: 16px;
	transition: 0.2s;
	width: 80%;
}

input.saisir:focus {
	outline-width: 0;
}

input.saisir:hover {
	width: 100%;
}

div#inscrit {
	margin-top: 20%;
}

div#deuxboutons {
	margin-top: 50%;
	font-weight: 200;
}

input.connect {
	text-align: center;
	margin-bottom: 9%;
	border: 0px;
	border-bottom: 2px solid #00ffab;
	padding-bottom: 5px;
	font-family: 'Raleway';
	font-weight: 100;
	font-size: 16px;
	transition: 0.2s;
	width: 80%;
}

input.connect:focus {
	outline-width: 0;
	width: 100%;
}

a#login {
	border: 2px solid #00ffab;
	padding: 4% 30%;
	text-decoration: none;
	border-radius: 33px;
	color: white;
	background-color: #00ffab;
	transition: 0.8s;
}

a#login:hover {
	background-color: white;
	color: black;
}

div.gradient {
	width: 1357px;
	height: 1357px;
	border-radius: 100%;
	background:radial-gradient(rgba(0,255,129,0.4),white, white);
	position: absolute;
	top: -100px;
	left: -300px;
	z-index: -1;
}